/* <div class="container">
<h3>Best Joke to make your Day</h3>
<div id="joke" class="joke">Awesome Joke is loading...</div>
<button id="jokeBtn" class="btn">Next Joke</button>

</div> */


body{
    background-color: rgb(103, 103, 226);
    
}
.container{
    margin-left: 37%;
    margin-top: 35%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: rgb(221, 221, 129);
    border-radius: 10px;
    margin-top: 200px;
}
h3{
    color: rgb(158, 46, 18);
    text-align: center;
}
.joke{
    text-align: center;
    color: rgb(212, 21, 129);
    font-size: 20px;
}
.btn{
   background-color: brown;
   color: aqua;
   border-radius: 10px;
   margin-left: 160px;
   margin-top: 50px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
}
